.menutop		{
	padding: 0px;
	/*margin-right: 0px;*/
	/*overflow: hidden;*/
}

.sidebarleft	{
	/*height: 100vh;*/
}

.sidebarleft .btn	{
	margin-top: 20px;
}

.requestform	{
	margin-top: 10px;
	padding: 10px;
	padding-bottom: 0px;
}

.requestbutton	{
	margin-left: 5px;
}

.checkboxlabel	{
	margin: 0px;
	padding-left: 20px;
	padding-right: 0px;
	height: 45px;
	overflow: hidden;
	overflow-y: scroll;
	word-break: break-all;
}

.badge-secondary	{
	font-size: 15px;
	background-color: #404040;
}

#week_3, #week_4 {
    width:200px;
    height:200px;
    border:2px solid red;
    float:left;
}

.blocks	{
	height: 100%;
	width: 100%;
}

.groupmanspacing	{
	margin-left: 10px; 
	margin-right: 5px; 
	margin-bottom: 10px
}